<div class="prestation container-fluid">
  <!-- cart-->
  <div class="view view-cart" id="paniers">
    <div class="row">
      <div class="col-md-6">
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <h1 class="heading display-4 title-g">
            Paniers Solidaires de légumes Bio et de Saison
          </h1>
          <h4 class="subheading font-weight-bold">
            En devenant adhérent pour seulement 33€/an, optez pour l'une de nos
            2 formules :
          </h4>
          <h5 class="subheading font-weight-bold">
            25€/mois : deux paniers par mois <br /><br />33€/mois : trois
            panirers par mois
          </h5>

          <button
            [routerLink]="['/adherent']"
            routerLinkActive="router-link-active"
            type="button"
            mdbBtn
            color="lily"
            rounded="true"
            class="btn-margin"
          >
            Devenir Adhérent <i class="fas fa-caret-right ml-3"></i>
          </button>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="view d-flex justify-content-center ">
          <img
            src="../../assets/photos/panier3.jpg"
            class="img-fluid panier-legume "
            alt="vegetable image"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- market -->

  <div class="view view-market" id="marche">
    <div class="row ">
      <div class="col-md-6" col order-last>
        <img
          src="../../assets/photos/marche2.jpg"
          class="img-fluid img-market"
          alt="vegetable image"
        />
      </div>

      <div class="col-md-6">
        <div
          class="d-flex flex-column  align-items-center h-100 col order-first titre-market"
        >
          <h1 class="heading display-5 title-b">
            Rencontrez nous sur les marchés
          </h1>
          <h5 class="subheading font-weight-bold">
            - à Mouans-Sartoux : mardi et jeudi<br />- à Valbonne : vendredi
          </h5>
        </div>
      </div>
    </div>
  </div>

  <!-- section more  -->
  <!--Section: Products v.2-->
  <section class="container-fluid text-center pb-3 my-5" id="gamme">
    <!--Section heading-->
    <h2 class="h1 font-weight-bold text-center h1 py-5 title-g ">
      Notre gamme de Porduits Bio s'élargie
    </h2>
    <!--Section description-->
    <p class="p-text pb-4">
      L'association élargit son offre en vous propsant de nouvelles expériences
      gustatives.
    </p>

    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              src="./../../assets/photos/poulesm.jpeg"
              alt="photo oeuf"
              class="img-fluid img-size"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->

            <h5 class="text-default">Oeufs</h5>

            <mdb-card-text>oeufs frais bio</mdb-card-text>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              class="img-fluid img-size"
              src="./../../assets/photos/ptjpg2.jpg"
              alt="photo produits transformés"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->

            <h5 class="text-default">Produits transformés</h5>

            <!--Description-->
            <mdb-card-text>soupes, tartinades, coulis.</mdb-card-text>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" wider="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              src="./../../assets/photos/huile2.jpg"
              class="img-fluid img-size"
              alt="photo bouteille d'huile"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center no-padding">
            <!--Category & Title-->

            <h5 class="text-default">Huile d'olive</h5>

            <mdb-card-title> </mdb-card-title>
            <!--Description-->
            <mdb-card-text>produite dans les Alpes-Maritimes</mdb-card-text>
            <!--Card footer-->
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Products v.2-->

  <!--Prestations -->
  <section
    class="container-fluid text-center pb-3 my-5 view-new-prestation"
    id="service"
  >
    <!--Section heading-->
    <h2 class="h1 font-weight-bold h1 py-5 title-b">
      Nouvelles activités de Prestations de service
    </h2>
    <!--Section description-->
    <p class="p-text pb-5">
      L'association forte de son expertise et en accord avec les principes
      fondamentaux de la préservation de l'environnement propose désormais des
      prestations de service aux collectivités et aux particuliers :
    </p>

    <!--Grid row 1-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              src="./../../assets/photos/debroussailler-terrain.jpg"
              alt="sample photo"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Débroussaillement</h5>
            </a>
            <!--Description-->
            <mdb-card-text
              >Obligation Légale de Débroussaillement, Entretien d'espaces
              naturels
            </mdb-card-text>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--activite 1 Card-->
      </div>

      <div class="col-lg-3 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              src="./../../assets/photos/broyage.jpg"
              alt="sample photo"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Broyage de végétaux à domicile</h5>
            </a>
            <!--Description-->
            <mdb-card-text
              >Valorisation de déchets verts dans le cadre du développement
              durable
            </mdb-card-text>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--activite 1 Card-->
      </div>

      <div class="col-lg-3 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              src="./../../assets/photos/oliviers.jpg"
              alt="sample photo"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Oléiculture</h5>
            </a>
            <!--Description-->
            <mdb-card-text
              >Taille des oliviers, récolte des olives à domicile
            </mdb-card-text>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--activite 1 Card-->
      </div>

      <!--Grid column 2-->
      <div class="col-lg-3 col-md-6 mb-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="card-ecommerce">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img
              src="./../../assets/photos/animation.jpg"
              alt="sample photo"
            ></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
          <!--Card content-->
          <mdb-card-body cascade="true" class="text-center">
            <!--Category & Title-->
            <a href="" class="grey-text">
              <h5>Animations / Formations</h5>
            </a>

            <!--Description-->
            <mdb-card-text
              >développement durable, bonnes pratiques agricoles (cadre scolaire
              et tout public)
            </mdb-card-text>
          </mdb-card-body>
          <!--Card content-->
        </mdb-card>
        <!--activite 1 Card-->

        <!-- activite 2 -->
      </div>
    </div>

    <p class="p-text pb-5">
      Les salariés effectuant ces travaux sont qualifiés et encadrés par un
      salarié permanent.
    </p>
    <!--Grid row-->
  </section>
  <!--Section: Products v.1-->
</div>
