.footer-copyright {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.partenaires {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.partenaires2 {
  width: 60px;
  height: 30px;
  margin: 10px;
}

.grasse {
  width: 65px;
  height: 65px;

}
