<!-- Footer -->
<footer class="page-footer font-small #81c784 green lighten-4">
  <!-- Footer Elements -->
  <div class="container-fluid">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-2">
        <div class="mb-5 flex-center">
          <h6>Nos partenaires</h6>
          <!-- Facebook -->

          <a
            href="https://agriculture.gouv.fr/lagriculture-biologique-ab"
            target="_blank"
          >
            <img
              src="./../../assets/photos/ab.png"
              alt="photo-ab"
              class="partenaires img-fluid"
            />
          </a>
          <a href="http://www.reseaucocagne.asso.fr/" target="_blank">
            <img
              src="./../../assets/photos/cocagne.png"
              alt="photo-cocagne"
              class="partenaires img-fluid"
            />
          </a>

          <a href="http://direccte.gouv.fr/" target="_blank">
            <img
              src="./../../assets/photos/dirrecte.jpg"
              alt="photo-dirrecte"
              class="partenaires img-fluid"
            />
          </a>
          <a href="https://www.europe-en-france.gouv.fr/fr" target="_blank">
            <img
              src="./../../assets/photos/logo-europe-sengage.png"
              alt="photo-l'europe-s'engage"
              class="partenaires img-fluid"
            />
          </a>

          <a href="https://www.maregionsud.fr/" target="_blank">
            <img
              src="./../../assets/photos/regionSud.jpg"
              alt="photo-regionSud"
              class="partenaires img-fluid"
            />
          </a>
          <a
            href="https://www.departement06.fr/departement-des-alpes-maritimes-3.html"
            target="_blank"
          >
            <img
              src="./../../assets/photos/alpes-maritimes.png"
              alt="photo-departement"
              class="partenaires img-fluid"
            />
          </a>

          <a href="https://www.mouans-sartoux.net/" target="_blank">
            <img
              src="./../../assets/photos/Mouans_Sartoux.jpg"
              alt="photo-ville-mouans-sartoux"
              class="partenaires img-fluid"
            />
          </a>

          <a href="https://www.ville-valbonne.fr/" target="_blank">
            <img
              src="./../../assets/photos/valbonne.png"
              alt="photo-ville-valbonne"
              class="partenaires img-fluid"
            />
          </a>
          <a href="http://www.paysdelerins.fr/" target="_blank">
            <img
              src="./../../assets/photos/lerins.png"
              alt="photo-pays-de-lerrins"
              class="partenaires img-fluid"
            />
          </a>
          <a href="https://www.paysdegrasse.fr/" target="_blank">
            <img
              src="./../../assets/photos/grasse.png"
              alt="photo-pays de grasse"
              class="grasse img-fluid"
            />
          </a>
          <a href="https://www.natureetdecouvertes.com/" target="_blank">
            <img
              src="./../../assets/photos/nature-et-découverte.png"
              alt="photo-nature et decouverte"
              class="partenaires2 img-fluid"
            />
          </a>
          <a href="https://www.credit-agricole.fr/" target="_blank">
            <img
              src="./../../assets/photos/ca.png"
              alt="photo-crédit agricole"
              class="partenaires2 img-fluid"
            />
          </a>
          <a href="https://www.credit-cooperatif.coop/" target="_blank">
            <img
              src="./../../assets/photos/crédit-coopératif.png"
              alt="photo-crédit coopératif"
              class="partenaires2 img-fluid"
            />
          </a>
          <a href="https://www.fape-edf.fr/" target="_blank">
            <img
              src="./../../assets/photos/edf.png"
              alt="photo-edf"
              class="partenaires2 img-fluid"
            />
          </a>
          <a href="https://www.vinci.com/" target="_blank">
            <img
              src="./../../assets/photos/vinci.png"
              alt="photo-vinci"
              class="partenaires2 img-fluid"
            />
          </a>
          <a href="https://www.msa.fr/" target="_blank">
            <img
              src="./../../assets/photos/msa.png"
              alt="photo-msa"
              class="partenaires2 img-fluid"
            />
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 container-fluid">
    © 2019 Copyright:
    <a href="https://nicolaspietri.netlify.com/"> N.PIETRI</a>
  </div>
  <!-- Copyright -->
</footer>
