<!-- Footer -->
<footer class="page-footer font-small #81c784 green lighten-4">
  <!-- Footer Elements -->
  <div class="container-fluid">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-2">
        <div class="mb-5 flex-center">
          <h6>Nos partenaires :</h6>
          <!-- Facebook -->

          <a
            href="https://agriculture.gouv.fr/lagriculture-biologique-ab"
            target="_blank"
          >
            <img
              src="./../../assets/photos/ab.png"
              alt="photo-ab"
              class="partenaires"
            />
          </a>
          <a href="http://www.reseaucocagne.asso.fr/" target="_blank">
            <img
              src="./../../assets/photos/cocagne.png"
              alt="photo-cocagne"
              class="partenaires"
            />
          </a>

          <a href="http://direccte.gouv.fr/" target="_blank">
            <img
              src="./../../assets/photos/dirrecte.jpg"
              alt="photo-dirrecte"
              class="partenaires"
            />
          </a>
          <a
            href="
https://www.europe-en-france.gouv.fr/fr
"
            target="_blank"
          >
            <img
              src="./../../assets/photos/logo-europe-sengage.png"
              alt="photo-l'europe-s'engage"
              class="partenaires"
            />
          </a>

          <a href="https://www.maregionsud.fr/" target="_blank">
            <img
              src="./../../assets/photos/regionSud.jpg"
              alt="photo-regionSud"
              class="partenaires"
            />
          </a>
          <a
            href="https://www.departement06.fr/departement-des-alpes-maritimes-3.html"
            target="_blank"
          >
            <img
              src="./../../assets/photos/alpes-maritimes.png"
              alt="photo-departement"
              class="partenaires"
            />
          </a>

          <a href="https://www.mouans-sartoux.net/" target="_blank">
            <img
              src="./../../assets/photos/Mouans_Sartoux.jpg"
              alt="photo-ville-mouans-sartoux"
              class="partenaires"
            />
          </a>

          <a href="https://www.ville-valbonne.fr/" target="_blank">
            <img
              src="./../../assets/photos/valbonne.png"
              alt="photo-ville-valbonne"
              class="partenaires"
            />
          </a>
          <a href="http://www.paysdelerins.fr/" target="_blank">
            <img
              src="./../../assets/photos/pays de lérins.png"
              alt="photo-pays-de-lerrins"
              class="partenaires"
            />
          </a>
          <a href="https://www.paysdegrasse.fr/" target="_blank">
            <img
              src="./../../assets/photos/Logo_CA_Pays_de_Grasse.png"
              alt="photo-pays de grasse"
              class="grasse"
            />
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 container-fluid">
    © 2019 Copyright:
    <a href="https://nicolaspietri.netlify.com/"> N.PIETRI</a>
  </div>
  <!-- Copyright -->
</footer>
