agm-map {
  height: 300px;
}

.carousel-caption {
  margin-bottom: 20px;
}

.solidaire {
  margin-top: 20px;
  border-radius: 15px;
}

.logo-picture {
  display: flex;
  justify-content: flex-start;
}
