.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

.carousel {
  margin-top: 0%;
}

.carousel-caption {
  margin-bottom: 20px;
}

.solidaire {
  margin-top: 20px;
  border-radius: 15px;
}

.logo-picture {
  display: flex;
  justify-content: flex-start;
}
