<mdb-carousel class="carousel slide carousel-fade " [animation]="'fade'">
  <mdb-carousel-item>
    <video class="video-fluid" autoplay loop muted>
      <source src="../assets/videos/vegetables.mp4" type="video/mp4" />
    </video>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Adhérez aux paniers de légumes bio</h1>
      <p>
        Retrouvez également notre production sur les marchés de Mouans-Sartoux
        et de Valbonne
      </p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <video class="video-fluid" autoplay loop muted>
      <source src="../assets/videos/olives.mp4" type="video/mp4" />
    </video>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Oléiculture</h1>
      <p>
        Vente d'huile d'olive et Récolte chez les particuliers
      </p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <video class="video-fluid" autoplay loop muted>
      <source src="../assets/videos/espacesVerts.mp4" type="video/mp4" />
    </video>
    <div class="carousel-caption">
      <h1 class="h1-responsive">Entretien des espaces verts</h1>
      <p>
        Nous vous aiderons à répondre à votre obligation légale de
        débroussaillement (OLD)
      </p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="container-fluid plr" id="qui-sommes-nous">
  <!--Section: Main info-->
  <section class="mt-5 wow fadeIn">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img
          src="../assets/photos/68751542_2559040064159985_8713897329666555904_n.jpg"
          class="img-fluid z-depth-1-half"
          alt=""
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!-- Main heading -->
        <h3 class="h3 mb-3 teal-text">Qui sommes-nous?</h3>
        <p align="justify">
          Depuis 1998, l'association JVS propose un accompagnement social et
          professionnel à des personnes éloignées de l'emploi, au travers
          d'activités de maraîchage et d'élevage
          <strong class="blue-grey-text">certifiés biologiques</strong>.
        </p>
        <p align="justify">
          Les légumes et les œufs sont vendus auprès des adhérents sous la forme
          de paniers, des distributeurs locaux et sur les marchés.
        </p>
        <!-- Main heading -->

        <hr />

        <p align="justify">
          JVS dispose de deux sites de production : 1 hectare sur la commune de
          Mouans-Sartoux et 0.8 hectare sur Valbonne. En 20 ans, l'association a
          évolué en complétant ses activités : <br />2006 : aménagement de
          <strong class="blue-grey-text">"la Serre"</strong> pour la production
          de plants biologiques à destination des agriculteurs du département et
          des particuliers <br />2015 : installation d'un élevage bio de 200
          poules pondeuses en plein air <br />2019 : vente directe de la
          production après transformation (huile d'olive, pistou, soupe,
          tartinade d'aubergine, …)
        </p>

        <!-- Download brochure -->
        <a
          target="_blank"
          href="../assets/docs/plaquetteJVS.pdf"
          target="_blank"
          class="btn btn-grey btn-md blue-grey-text"
          >Téléchargez notre brochure
          <i class="fas fa-download ml-1"></i>
        </a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
  <!--Section: Main info-->

  <hr class="my-5" />

  <!--Section: action solidaire-->
  <section id="accompagnement">
    <h3 class=" h3 text-center mb-5 teal-text">
      Action solidaire
    </h3>

    <!--Grid row-->
    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 px-4">
        <!--First row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fas fa-network-wired fa-2x light-green-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">
              Accompagnement Social et Professionnel
            </h5>
            <p align="justify" class="grey-text">
              Chaque année, 60 salariés en CCDI sont accompagnés et encadrés par
              6 salariés permanents.
            </p>
          </div>
        </div>
        <!--/First row-->

        <div style="height:30px"></div>

        <!--Second row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fas fa-briefcase fa-2x light-green-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">Insertion sociale</h5>
            <p align="justify" class="grey-text">
              Véritable tremplin vers l'emploi, JVS est mobilisée pour
              réentraîner aux rythmes de travail les personnes en demande, leur
              permettant ainsi d'acquérir les compétences et le savoir-être, qui
              sont les clés d'un retour réussi dans la vie active
            </p>
          </div>
        </div>
        <!--/Second row-->

        <div style="height:30px"></div>

        <!--Third row-->
        <div class="row">
          <div class="col-1 mr-3">
            <i class="fas fa-graduation-cap fa-2x yellow-text"></i>
          </div>
          <div class="col-10">
            <h5 class="feature-title">La formation</h5>
            <p align="justify" class="grey-text">
              Les projets professionnels des salariés en insertion que nous
              accompagnons concernent assez souvent des secteurs d'activités
              autre que celui de l'agriculture. Ainsi, JVS met l'accent sur des
              périodes d'immersion en entreprise de manière à favoriser
              l'embauche.
            </p>
          </div>
        </div>
        <!--/Third row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12">
        <p class="h5 text-center mb-4 amber-text">
          Nos Valeurs : Bio, Local et Solidaire
        </p>
        <img
          src="../assets/photos/solidarite.png"
          class="img-fluid solidaire"
          alt="Responsive image"
        />
      </div>
      <!--/Grid column-->
    </div>
    <!--/Grid row-->
  </section>
  <!--Section: Main features & Quick Start-->

  <hr class="my-5" />

  <!--Section: Contact-->
  <section id="contact">
    <h2 class="my-5 h3 text-center lime-text">Contact</h2>

    <!--First row-->
    <div class="row features-small mb-5 mt-3 wow fadeIn">
      <!--First column-->
      <div class="col-md-6">
        <!--First row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-map-marked fa-2x deep-orange-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">
              Adresse
            </h6>
            <p class="grey-text">
              JVS - 2530, route de Pégomas - 06370 Mouans-Sartoux
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/First row-->

        <!--Second row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-phone fa-2x yellow-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Téléphone</h6>
            <p class="grey-text">
              04 92 28 09 39
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Second row-->

        <!--Third row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-at fa-2x amber-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Email</h6>
            <p class="grey-text">
              <a href="mailto:contact.associationjvs@gmail.com"
                >contact.associationjvs@gmail.com</a
              >
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Third row-->

        <!--Fourth row-->
        <div class="row">
          <div class="col-2">
            <i class="fas fa-network-wired fa-2x orange-text"></i>
          </div>
          <div class="col-10">
            <h6 class="feature-title">Réseaux sociaux</h6>
            <p class="grey-text">
              lien facebook :
              <a href="https://www.facebook.com/associationJVS"
                >www.facebook.com/associationJVS</a
              >
            </p>
            <div style="height:15px"></div>
          </div>
        </div>
        <!--/Fourth row-->
      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="col-md-6 flex-center ">
        <div class="mapouter">
          <div class=" map-responsive">
            <iframe
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=2530%20route%20de%20p%C3%A9gomas%2C%20mouans%20sartoux&t=&z=15&ie=UTF8&iwloc=&output=embed"
              width="600"
              height="900"
              frameborder="0"
              style="border:0"
              allowfullscreen
            ></iframe>
          </div>

          <style></style>
        </div>
      </div>
      <!--/Second column-->
    </div>
    <!--/First row-->
  </section>
  <!--Section: Contact-->
</div>
