.form-adhesion {

  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(216, 235, 215);
}


.h2-form {
  margin-top: 20px;
  color: rgb(169, 175, 159);
}

.img-number {
  width: 50px;
}


button {
  margin-top: 10px;
  float: right;
  background-color: rgb(223, 224, 223);
}

p {
  margin-top: 40px;
}


.honeypot-field {
  display: none;
}

.thankyou_message {
  height: 800px;
}

.thankyou-mess-title {
  padding: 100px;
  color: rgb(87, 94, 41);
  font-style: italic;

}

.consentement {
  margin-top: 7px;
}
