<div class="form-adhesion container-fluid">
  <form
    class="gform pure-form pure-form-stacked form-adhesion"
    method="POST"
    data-email="nicolaspietri.fr@gmail.com"
    action="https://script.google.com/macros/s/AKfycbyr8SLqWre0u2xaxiGjADjqPnVN4JO-DNLpA67SAw6snOgXzwg/exec"
  >
    <!-- change the form action to your script url -->
    <div class="form-elements row">
      <div class="choix-panier form-adhesion col-xs-12 col-md-6 col-left ">
        <fieldset class="pure-group">
          <h2 class="h2-form ">
            <img class="img-number" src="./../../assets/photos/one.png" />
            Adhésion annuelle à l'association JVS :
          </h2>
          <input
            id="accord-cotisation-annuelle"
            type="radio"
            name="accord-cotisation-annuelle"
            value="X"
            checked
          />
          <label for="accord-cotisation-annuelle">
            cotisation annuelle <strong>33€</strong></label
          >
        </fieldset>

        <!--radio group-->
        <fieldset class="pure-group ">
          <h2 class="h2-form ">
            <img class="img-number" src="./../../assets/photos/two.png" />
            Formules :
          </h2>
          <div>
            <input
              id="formule--duo"
              type="radio"
              name="formule"
              value="2 paniers"
            />
            <label for="formule--duo">
              Formule panier <span>"duo"</span
              ><strong class="tarif-duo"> 25 €</strong> par mois pour 2
              paniers</label
            >
          </div>
          <div>
            <input
              id="radio-group--trio"
              type="radio"
              name="formule"
              value="3 paniers"
            />
            <label for="formule--trio">
              Formule panier <span>"trio"</span
              ><strong class="tarif-famille"> 36 €</strong> par mois pour 3
              paniers</label
            >
          </div>
        </fieldset>

        <!--radio group-->
        <fieldset class="pure-group ">
          <h2 class="h2-form">
            <img class="img-number" src="./../../assets/photos/three.png" />
            Lieux de retrait
          </h2>
          <div>
            <input
              id="livraison"
              type="radio"
              name="livraison"
              value="jeudi à JVS"
            />
            <label for="livraison">
              Le jeudi à partir de 12h30 directement à JVS -
              Mouans-Sartoux</label
            >
          </div>
          <div>
            <input
              id="livraison"
              type="radio"
              name="livraison"
              value="jeudi, demander au prospect son site de livraison idéal"
            />
            <label for="livraison">
              Le jeudi après-midi : Mougins, Mouans-sartoux, le plande Grasse,
              Peymeinade
            </label>
          </div>

          <div>
            <input
              id="livraison"
              type="radio"
              name="livraison"
              value="vendredi, demander au prospect son site de livraison idéal"
            />
            <label for="livraison">
              Le vendredi matin : le Cannet (Canéopole), Valbonne Garbejaire,
              Biot</label
            >
          </div>
        </fieldset>

        <p>
          <em>
            * Liste non exhaustive, n'hésitez pas à nous demander s'il est
            possible de livrer à un autre point de retrait</em
          >
        </p>

        <!-- fin div choix panier -->
      </div>

      <div class="coordonees form-adhesion col-xs-12 col-md-6 col-right  ">
        <h2 class="h2-form">
          <img class="img-number" src="./../../assets/photos/four.png" /> Vos
          coordonnées
        </h2>

        <fieldset class="pure-group">
          <input
            type="text"
            class="form-control mb-4"
            formControlName="contactFormName"
            placeholder="Name"
            id="name "
            name="name"
          />
        </fieldset>

        <fieldset class="pure-group">
          <input
            id="prenom"
            name="prenom"
            type="text"
            class="form-control mb-4"
            formControlName="contactFormPrenom"
            placeholder="Prénom"
          />
        </fieldset>

        <fieldset class="pure-group">
          <input
            id="email"
            name="email"
            type="email"
            value=""
            required
            class="form-control mb-4"
            formControlName="contactFormEmail"
            placeholder="Email"
          />
          <span class="email-invalid" style="display:none"
            >l'email doit avoir un format correct</span
          >
        </fieldset>

        <!--tel-->
        <fieldset class="pure-group">
          <input
            id="telephone"
            type="tel"
            name="telephone"
            value=""
            class="form-control mb-4"
            formControlName="contactFormTel"
            placeholder="Téléphone"
          />
        </fieldset>

        <fieldset class="pure-group">
          <input
            id="adresse"
            name="adresse"
            class="form-control mb-4"
            formControlName="contactFormAdress"
            placeholder="Adresse"
          />
        </fieldset>

        <fieldset class="pure-group">
          <input
            id="code-postal"
            name="code postal"
            type="text"
            class="form-control mb-4"
            formControlName="contactFormPostalCode"
            placeholder="Code Postal"
          />
        </fieldset>

        <fieldset class="pure-group">
          <input
            id="ville"
            name="ville"
            class="form-control mb-4"
            formControlName="contactFormTown"
            placeholder="Ville"
          />
        </fieldset>

        <fieldset class="pure-group">
          <textarea
            id="message"
            name="message"
            formControlName="contactFormMessage"
            class="form-control rounded-0"
            id="exampleFormControlTextarea2"
            rows="3"
            placeholder="N'hésitez pas à nous adresser une demande d'information supplémentaire"
          ></textarea>
        </fieldset>

        <button type="button" class="btn btn-outline-success">
          envoyer
        </button>
      </div>

      <!-- end  div form element  -->
    </div>

    <!--  Thankyou Message People See when they submit the form: -->
    <div class="thankyou_message" style="display:none;">
      <h2 class="thankyou-mess-title">
        <em>Merci</em> d'avoir choisi de nous rejoindre! Nous vous contacterons
        rapidement pour vous mettre en place vos livraisons de panier!
      </h2>
    </div>
  </form>
</div>
