<div class="fb container-fluid">
  <div class="row ">
    <div class="col-md-6 ">
      <div
        class="fb-page position-static event "
        data-href="https://www.facebook.com/associationJVS/"
        data-tabs="events"
        data-width="600"
        data-height="550px"
        data-small-header="true"
        data-adapt-container-width="true"
        data-hide-cover="true"
        data-show-facepile="false"
      >
        <blockquote
          cite="https://www.facebook.com/associationJVS/"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/associationJVS/"></a>
        </blockquote>
      </div>
    </div>

    <div class="col-md-6 ">
      <div
        class="fb-page position-static actu"
        data-href="https://www.facebook.com/associationJVS/"
        data-tabs="timeline"
        data-width="600"
        data-height="550px"
        data-small-header="true"
        data-adapt-container-width="true"
        data-hide-cover="true"
        data-show-facepile="false"
      >
        <blockquote
          cite="https://www.facebook.com/associationJVS/"
          class="fb-xfbml-parse-ignore"
        >
          <a href="https://www.facebook.com/associationJVS/"></a>
        </blockquote>
      </div>
    </div>
  </div>
</div>
