.fb {
  margin: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: #d1dfd1;

}


.fb-page {

  height: 100vh;

  margin-bottom: 0px;

}



.event {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.actu {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}
