/* You can add global styles to this file, and also import other style files */
.not-found {

  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(205, 211, 194);
  font-style: italic;
  color: beige;
  font-family: Georgia, 'Times New Roman', Times, serif;
  ;
}
